body {
    font-family: Quicksand;
    font-size: 18px;
    height: 1500px;
    background-color: #faf4e1;
}

.container {
    background-color: white;
    padding: 50px 50px 50px 50px;
}

h1 {
    font-size: 3em;
}

#leftCol {
    padding-right: 20px;
}


.justify{
    text-align: justify;
}

#moveset {
    border-collapse: collapse;
    width: 100%;
}

table#moveset th, table#moveset td {
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 10px 0;
}

table#moveset {
    background-color: #fbf2d1;
    color: #293250;
    
}

tr#head{
    background-color: #f2e8fa;
}

/* Right column */

#rightCol{
    margin-top: 63px;
    padding : 20px 20px 20px 20px;
    border: 4px solid black;    
    border-radius: 15px;
    background-color: #b3d2fa;
}

#info > div {
    border: 1px solid black;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    background-color: #f2e8fa;

}

#avatar{
    margin-bottom: 20px;
}
/* for mobile device */

